@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.background{
    background: #f6f9fc;
    padding: 50px 0;
}

.container{
    width: 100%;
    max-width: 1232px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.d_flex{
    display: flex;
    justify-content: space-between;
}

.c_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_flex{
    display: flex;
}
.center_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.RText{
    text-align: right;
}

main{
    background: rgb(246, 249, 252);
}

.margin-bottom{
    margin-bottom: 3.75rem;
}

.margin-tittle{
    margin-bottom: 1rem;
}

.padding-bottom{
    padding-bottom: 3.75rem;
}

.top-rating-feature{
    display: flex;
    flex-wrap: wrap;
}

.single-category {
    display: flex;
    gap: 30px;
}

.comming{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:900px) {
    .desktop_item{
        display: none !important;
    }
    .mobile_item{
        display: block !important;
    }
}
@media screen and (min-width:900px) {
    .mobile_item{
        display: none !important;
    }
}

